body {
  background-color: #fee9f0;
}

.app {
  margin: 50px auto;
  background-color: #f5f8f9;
  min-height: 430px;
  min-width: 350px;
  max-width: 800px;
  box-shadow: 0 0 6px grey;
  overflow: hidden;
  line-height: 2rem;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.todo-card {
  border: 0.5px solid pink;
  border-radius: 5px;
  padding: 10px 15px;
}
